```{=html}
<ul class="editorlist list">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <div>
      <% if (item.image) { %>
      <img src="<%- item.image %>">
      <% } %>

      <% /* %>
        <h3><a href="<%- item.path %>"><%= item.title %></a></h3>
      <% */ %>

        <% if (item.links) { %>
          <% for (const link of item.links) { %>
            <h3><a href ="<%- link.href %>"> <%- item.title %> </a></h3>
            <% } %>
        <% } else { %>
          <h3><%- item.title %></h3>
        <% } %>

      <p> <%= item.affiliation %> </p>

      <% if (item.categories) { %>
        <div class="quarto-title"><div class="quarto-categories">
          <% for (const category of item.categories) { %>
          <div class="quarto-category"><a href ="editors.html#category=<%- category %>"> <%- category %> </a></div>
          <% } %>
        </div></div>
      <% } %>

      <% /* %>
      <% if (item.links) { %>
        <% for (const link of item.links) { %>
        <p><a href ="<%- link.href %>"> <%- link.text %> </a></p>
        <% } %>
      <% } %>
      <% */ %>

    </div>
  </li>
<% } %>
</ul>
```
